<!DOCTYPE html>
<html>
<head>
  <title>Edit Profile</title>
  <link rel="stylesheet" href="css/editstyles.css">
</head>
<body>
  <h1>Edit Profile</h1>
  <form action="/update-profile" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= user.name %>">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= user.email %>">
    <br>
    <label for="bio">Bio:</label>
    <textarea name="bio"><%= user.bio %></textarea>
    <br>
    <h2>Social Media Links: </h2>
    <label for="insta">Instagram:</label>
    <input type="text" name="insta">
    <label for="facebook">Facebook:</label>
    <input type="text" name="facebook">
    <label for="email">LinkedIn:</label>
    <input type="text" name="linkedIn">

    <button type="submit">Update Profile</button>
  </form>
</body>
</html>
